{% extends base_template %}

{% block actions %}
    <li>{% include 'SonataAdminBundle:Button:list_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:create_button.html.twig' %}</li>
    {% endblock %}

{% block navbar_title %}
    Composer
{% endblock %}

{% block tab_menu %}
    {% include 'KreatysCmsBundle:Admin:Page/tab_menu.html.twig' with {
        'action':      action,
        'admin':       admin,
        'currentSite': 'TFreelances',
    } only %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        context = 'composer';
    </script>
{% endblock %}
