<html>
    <head>
        <title></title>
        <style type="text/css">
            body {
                font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
                font-size: 14px;
            }
        </style>
    </head>
    <body>
        {% block content '' %}		

        <p style="margin-top: 20px;">
            Cordialement,<br/> 
            Politeia<br/>
            {#<a href="http://{{ app.request.host }}/" title="NOVASCRIB"><img src="http://{{ app.request.host }}/bundles/certiredaccore/assets/img/logo_footer_email.png" width="250" /></a>#}
        </p>
    </body>
</html>
