<td class="text-center">
    <span class="list__icon">
        <i class="fa fa-{{ object.icon }} fa-2x" data-toggle="modal" data-target="#modalChoiceIcon" data-id="{{ object.id }}" data-icon="{{ object.icon }}" data-route="kreatys_tfreelances_categorie_icon_update"></i>
    </span>
</td>