
<!-- parallax section image-left -->
<div id="parallax-section" class="parallax" data-section="testimonials">
    <div class="container">
        <div class="row parallax-section-content-image-left">
            <div class="text-right col-md-6">
                <h2 class="parallax-section-title">LOREM IPSUM - ALIQUAM BLANDIT</h2>
                <h3 class="parallax-section-text">Aenean vel egestas augue, faucibus egestas tortor. Praesent tempor, urna eu imperdiet</h3>
                <a href="#" class="btn btn-primary">TÉLÉCHARGER</a>
            </div>
            <div class="image-left col-md-6">
                <img src="{{ asset('/bundles/politeiacore/img/image-left.png') }}" alt="">
            </div>
        </div>
    </div><!-- / container -->
</div><!-- / parallax section image-left -->