
<!-- pricing section 3col -->
<div id="pricing" data-section="pricing">
    <div class="container">
        <div class="page-header">
            <h2>TARIFS</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="pricing-table">
                    <div class="pricing-table-title">
                        <h5 class="pricing-title">APPLICATION</h5>
                    </div>
                    <div class="pricing-table-price">
                        <p>
                            <span class="pricing-currency">&nbsp;</span>
                            <span class="pricing-price">Gratuit</span>
                            <span class="pricing-period">/ à vie</span>
                        </p>
                    </div>
                    <div class="pricing-table-content">
                        <ul>
                            <li>DOLOR SIT AMET</li>
                            <li>CONSECTETUR ADIPISCING</li>
                            <li>ALIQUAM IMPERDIET</li>
                            <li>TURPIS BIBENDUM NON</li>
                            <li>ALIQUAM BLANDIT LOREM IPSUM</li>
                            <li>IMPERDIET CONSECTETUR</li>
                        </ul>
                        <div class="pricing-table-button">
                            <a href="#" class="btn btn-primary md">TÉLÉCHARGER</a>
                        </div>
                    </div>
                </div><!-- / pricing-table -->
            </div>
            <div class="col-md-4">
                <div class="pricing-table">
                    <div class="pricing-table-title">
                        <h5 class="featured pricing-title">ACCÈS MAIRIE</h5>
                    </div>
                    <div class="pricing-table-price">
                        <p>
                            <span class="pricing-currency">€</span>
                            <span class="pricing-price">50</span>
                            <span class="pricing-period">/ à partir de</span>
                        </p>
                    </div>
                    <div class="pricing-table-content">
                        <ul>
                            <li>DOLOR SIT AMET</li>
                            <li>CONSECTETUR ADIPISCING</li>
                            <li>ALIQUAM IMPERDIET</li>
                            <li>TURPIS BIBENDUM NON</li>
                            <li>ALIQUAM BLANDIT LOREM IPSUM</li>
                            <li>IMPERDIET CONSECTETUR</li>
                        </ul>
                        <div class="pricing-table-button">
                            <a href="#" class="btn btn-primary md">ACHETER</a>
                        </div>
                    </div>
                </div><!-- / pricing-table -->
            </div>
            <div class="col-md-4">
                <div class="pricing-table">
                    <div class="pricing-table-title">
                        <h5 class="pricing-title">ACCÈS MAIRIE TOTAL</h5>
                    </div>
                    <div class="pricing-table-price">
                        <p>
                            <span class="pricing-currency">€</span>
                            <span class="pricing-price">100</span>
                            <span class="pricing-period">/ à partir de</span>
                        </p>
                    </div>
                    <div class="pricing-table-content">
                        <ul>
                            <li>DOLOR SIT AMET</li>
                            <li>CONSECTETUR ADIPISCING</li>
                            <li>ALIQUAM IMPERDIET</li>
                            <li>TURPIS BIBENDUM NON</li>
                            <li>ALIQUAM BLANDIT LOREM IPSUM</li>
                            <li>IMPERDIET CONSECTETUR</li>
                        </ul>
                        <div class="pricing-table-button">
                            <a href="#" class="btn btn-primary md">ACHETER</a>
                        </div>
                    </div>
                </div><!-- / pricing-table -->
            </div>
        </div>
    </div><!-- / container -->
</div><!-- / pricing section 3col -->