
<!-- app screenshots 3col -->
<div id="screenshots" data-section="screenshots">
    <div class="container">
        <div class="page-header first">
            <h2>CAPTURES D'ÉCRAN</h2>
        </div>
        <div class="row">
            <div class="screenshots col-sm-4">
                <img src="{{ asset('/bundles/politeiacore/img/app-screenshot-1.jpg') }}" alt="">
            </div>
            <div class="screenshots col-sm-4">
                <img src="{{ asset('/bundles/politeiacore/img/app-screenshot-2.jpg') }}" alt="">
            </div> 
            <div class="screenshots col-sm-4">
                <img src="{{ asset('/bundles/politeiacore/img/app-screenshot-3.jpg') }}" alt="">
            </div> 
        </div>
    </div><!-- / container -->
</div><!-- / app screenshots 3col -->