
<!-- team section 3col -->
<div id="team" data-section="team">
    <div class="container">
        <div class="page-header first">
            <h2>L'ÉQUIPE</h2>
        </div>
        <div class="row">
            <div class="team-rounded col-sm-6 col-md-4">
                <img src="{{ asset('/bundles/politeiacore/img/team/team-2.jpg') }}" alt="about">
                <h5 class="team-title">HERVÉ DUPONT</h5>
                <p class="team-role">- Co-dirigeant -</p>
                <p class="social-icons">
                    <span>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                    </span>
            </div>
            <div class="team-rounded col-sm-6 col-md-4">
                <img src="{{ asset('/bundles/politeiacore/img/team/team-3.jpg') }}" alt="about">
                <h5 class="team-title">PAULINE DUPONT</h5>
                <p class="team-role">- Co-dirigeante -</p>
                <p class="social-icons">
                    <span>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                    </span>
            </div>
            <div class="team-rounded last col-sm-6 col-md-4">
                <img src="{{ asset('/bundles/politeiacore/img/team/team-1.jpg') }}" alt="about">
                <h5 class="team-title">ANTOINE AUCLAIR</h5>
                <p class="team-role">- Commercial -</p>
                <p class="social-icons">
                    <span>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                    </span>
            </div>
        </div>
    </div><!-- / container -->
</div><!-- / team section 3col -->