<div style="padding-left: 3px;">
    {% for icon in icons %}
        <div class="block-icon" data-icon="{{ icon }}" data-toggle="tooltip" data-placement="top" data-title="{{ icon }}"><i class="fa fa-{{ icon }}"></i></div>
        {% endfor %}
</div>