/* 
    Created on : 14 oct. 2015, 16:49:17
    Author     : remi
*/


/* ******************** */
/* *** BLOCK ESPACE *** */
.padding-top, padding-bottom, padding-left, padding-right {
    position: relative;
}

.padding-top-5 {
    padding-top: 5px;
}
.padding-top-10 {
    padding-top: 10px;
}
.padding-top-15 {
    padding-top: 15px;
}
.padding-top-20 {
    padding-top: 20px;
}
.padding-top-25 {
    padding-top: 25px;
}
.padding-top-30 {
    padding-top: 30px;
}
.padding-top-35 {
    padding-top: 35px;
}
.padding-top-40 {
    padding-top: 40px;
}
.padding-top-45 {
    padding-top: 45px;
}
.padding-top-50 {
    padding-top: 50px;
}
.padding-top-55 {
    padding-top: 55px;
}
.padding-top-60 {
    padding-top: 60px;
}
.padding-top-100 {
    padding-top: 100px;
}

.padding-bottom-5 {
    padding-bottom: 5px;
}
.padding-bottom-10 {
    padding-bottom: 10px;
}
.padding-bottom-15 {
    padding-bottom: 15px;
}
.padding-bottom-20 {
    padding-bottom: 20px;
}
.padding-bottom-25 {
    padding-bottom: 25px;
}
.padding-bottom-30 {
    padding-bottom: 30px;
}
.padding-bottom-35 {
    padding-bottom: 35px;
}
.padding-bottom-40 {
    padding-bottom: 40px;
}
.padding-bottom-45 {
    padding-bottom: 45px;
}
.padding-bottom-50 {
    padding-bottom: 50px;
}
.padding-bottom-55 {
    padding-bottom: 55px;
}
.padding-bottom-60 {
    padding-bottom: 60px;
}
.padding-bottom-100 {
    padding-bottom: 100px;
}

.padding-left-5 {
    padding-left: 5px;
}
.padding-left-10 {
    padding-left: 10px;
}
.padding-left-15 {
    padding-left: 15px;
}
.padding-left-20 {
    padding-left: 20px;
}
.padding-left-25 {
    padding-left: 25px;
}
.padding-left-30 {
    padding-left: 30px;
}
.padding-left-35 {
    padding-left: 35px;
}
.padding-left-40 {
    padding-left: 40px;
}
.padding-left-45 {
    padding-left: 45px;
}
.padding-left-50 {
    padding-left: 50px;
}
.padding-left-55 {
    padding-left: 55px;
}
.padding-left-60 {
    padding-left: 60px;
}
.padding-left-100 {
    padding-left: 100px;
}

.padding-right-5 {
    padding-right: 5px;
}
.padding-right-10 {
    padding-right: 10px;
}
.padding-right-15 {
    padding-right: 15px;
}
.padding-right-20 {
    padding-right: 20px;
}
.padding-right-25 {
    padding-right: 25px;
}
.padding-right-30 {
    padding-right: 30px;
}
.padding-right-35 {
    padding-right: 35px;
}
.padding-right-40 {
    padding-right: 40px;
}
.padding-right-45 {
    padding-right: 45px;
}
.padding-right-50 {
    padding-right: 50px;
}
.padding-right-55 {
    padding-right: 55px;
}
.padding-right-60 {
    padding-right: 60px;
}
.padding-right-100 {
    padding-right: 100px;
}



.kcms .navbar-brand {
    padding: 0;
}
.kcms .navbar-brand span {
    padding: 15px;
}
.kcms .navbar-brand > img {
    max-height: 100%;
    width: auto;
    padding: 4px 15px;
}
.kcms .content {
    min-height: 674px;
    min-height: 500px;
}
.kcms footer {
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    font-size: 12px;
    padding-top: 10px;
}
.kcms footer img {
    margin-bottom: 10px;
}
.kcms footer .copyright {
    border-top: 1px solid #e7e7e7;
    font-size: 10px;
    margin-top: 20px;
    padding: 5px 0;
    background: #FFFFFF;
}

.kvideo video {
    width: 100%;
}

body .img-conteneur .img-responsive,
body .video-conteneur .img-responsive {
    display: inline-block;
}
body .video-conteneur {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
body .video-conteneur object,
body .video-conteneur embed,
body .video-conteneur iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}