{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

<video>
    <source src="{% path media, 'reference' %}" type="video/mp4">
    <p>Your browser does not support H.264/MP4.</p>
</video>
